extends layout

block title
    title About Us

block stylesheet
    style. 
        .header {
            background-image: none;
        }    

block about
    li.active
        a(href='/about-us') About Us

block content
    section.about
        .container
            svg#logo(width='403' height='108' viewbox='0 0 410 115' fill='none')
                path(d='M67.104 35.568C67.104 43.92 64.224 50.88 58.464 56.448C52.8 61.92 44.112 64.656 32.4 64.656H13.104V106.56H0V6.192H32.4C43.728 6.192 52.32 8.928 58.176 14.4C64.128 19.872 67.104 26.928 67.104 35.568ZM32.4 53.856C39.696 53.856 45.072 52.272 48.528 49.104C51.984 45.936 53.712 41.424 53.712 35.568C53.712 23.184 46.608 16.992 32.4 16.992H13.104V53.856H32.4Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                path(d='M78.4946 56.304C78.4946 46.512 80.7026 37.728 85.1186 29.952C89.5346 22.08 95.5346 15.936 103.119 11.52C110.799 7.104 119.295 4.896 128.607 4.896C139.551 4.896 149.103 7.536 157.263 12.816C165.423 18.096 171.375 25.584 175.119 35.28H159.423C156.639 29.232 152.607 24.576 147.327 21.312C142.143 18.048 135.903 16.416 128.607 16.416C121.599 16.416 115.311 18.048 109.743 21.312C104.175 24.576 99.8066 29.232 96.6386 35.28C93.4706 41.232 91.8866 48.24 91.8866 56.304C91.8866 64.272 93.4706 71.28 96.6386 77.328C99.8066 83.28 104.175 87.888 109.743 91.152C115.311 94.416 121.599 96.048 128.607 96.048C135.903 96.048 142.143 94.464 147.327 91.296C152.607 88.032 156.639 83.376 159.423 77.328H175.119C171.375 86.928 165.423 94.368 157.263 99.648C149.103 104.832 139.551 107.424 128.607 107.424C119.295 107.424 110.799 105.264 103.119 100.944C95.5346 96.528 89.5346 90.432 85.1186 82.656C80.7026 74.88 78.4946 66.096 78.4946 56.304Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                path(d='M207.729 0V106.56H194.625V0H207.729Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                path(d='M300.046 27.648V106.56H286.943V94.896C284.447 98.928 280.942 102.096 276.43 104.4C272.014 106.608 267.118 107.712 261.742 107.712C255.598 107.712 250.079 106.464 245.183 103.968C240.287 101.376 236.399 97.536 233.519 92.448C230.735 87.36 229.342 81.168 229.342 73.872V27.648H242.303V72.144C242.303 79.92 244.27 85.92 248.206 90.144C252.142 94.272 257.519 96.336 264.335 96.336C271.343 96.336 276.863 94.176 280.895 89.856C284.927 85.536 286.943 79.248 286.943 70.992V27.648H300.046Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                path(d='M335.276 42.336C337.964 37.632 341.9 33.792 347.084 30.816C352.268 27.84 358.172 26.352 364.796 26.352C371.9 26.352 378.284 28.032 383.948 31.392C389.612 34.752 394.076 39.504 397.34 45.648C400.604 51.696 402.236 58.752 402.236 66.816C402.236 74.784 400.604 81.888 397.34 88.128C394.076 94.368 389.564 99.216 383.804 102.672C378.14 106.128 371.804 107.856 364.796 107.856C357.98 107.856 351.98 106.368 346.796 103.392C341.708 100.416 337.868 96.624 335.276 92.016V106.56H322.172V0H335.276V42.336ZM388.844 66.816C388.844 60.864 387.644 55.68 385.244 51.264C382.844 46.848 379.58 43.488 375.452 41.184C371.42 38.88 366.956 37.728 362.06 37.728C357.26 37.728 352.796 38.928 348.668 41.328C344.636 43.632 341.372 47.04 338.876 51.552C336.476 55.968 335.276 61.104 335.276 66.96C335.276 72.912 336.476 78.144 338.876 82.656C341.372 87.072 344.636 90.48 348.668 92.88C352.796 95.184 357.26 96.336 362.06 96.336C366.956 96.336 371.42 95.184 375.452 92.88C379.58 90.48 382.844 87.072 385.244 82.656C387.644 78.144 388.844 72.864 388.844 66.816Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')

            .row
                .heading= about.aboutUsMotive

        .svg-shape
            svg(width='100%' height='120' viewbox='0 0 1440 168' preserveaspectratio='none')
                path(fill='#fff' fill-rule='evenodd' d='M1440 167.942H0V.222c242.674 45.41 436.067 66.161 580.18 62.257C796.348 56.622 1052.729-4.128 1205.299.223c101.714 2.9 179.947 11.223 234.701 24.969v142.75z')

    section.leader
        .heading
            h1.title= about.leaderTitle
        .container
            .row
                - var n=0;
                for member in members
                    if member.role === "Admin" || member.role === "ADMIN" || member.role === "admin"
                        .member
                            .member-card
                                img(src=member.getPhoto alt=member.designation)
                                h3= member.name
                                h5= member.designation
                                <hr>
                                p!= member.description
                else
                    | No more Admins
    section.team
        .heading
            h1.title= about.memberTitle
        .container
            .row
                - var n=0;
                for member in members
                    if !(member.role === "Admin" || member.role === "ADMIN" || member.role === "admin")
                        .member
                            .member-card
                                img(src=member.getPhoto alt=member.designation)
                                h4= member.name
                                h6= member.designation
                else
                    | No more Team Members 
